@font-face {
    font-family: 'Inter-ExtraBold';
    src: url(./Inter-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url(./Inter-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(./Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(./Poppins-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url(./Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./Poppins-SemiBold.ttf);
    font-weight: 600;
}